<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,138},{30,23}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,23}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,164},{28,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{28,23}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,36},{28,21}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{28,21}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,138},{30,27}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,27}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goal.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lv9scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,94},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>spot_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,80},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>spot_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,66},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,66},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>vx_chara01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,378}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{384,378}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{64,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,160}}</string>
                <key>sourceSize</key>
                <string>{64,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pushboxres.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e91e1067548b34fa3597cf8588278e$</string>
            <key>textureFileName</key>
            <string>pushboxres.png</string>
        </dict>
    </dict>
</plist>
